{% extends "base/base-account.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/account/register.css' %}">
{% endblock%}


{% block conteudo %}
<section id="conteudo">
    <div id="container">
        <div class="box-form">
            <div class="title"><span>Cadastro</span>
            </div>
            <form class="form" method="post" autocomplete="off">
                {% csrf_token %}
                <div class="form-item">
                    <label for="email">Email</label>
                    <div class="input">
                        <i class="fas fa-envelope"></i>
                        {{form.email}}
                    </div>
                </div>
                <!-- error email -->
                {% if form.email.errors %}
                {% for error in form.email.errors %}
                <span class="msg-error">{{ error }}</span>
                {% endfor %}
                {% endif %}

                <div class="form-short form-item">
                    <label for="username">Nome de Usuário</label>
                    <div class="input">
                        <i class="fas fa-user"></i>
                        {{form.username}}
                    </div>
                </div>
                <!-- error username -->
                {% if form.username.errors %}
                {% for error in form.username.errors %}
                <span class="msg-error">{{ error }}</span>
                {% endfor %}
                {% endif %}

                <div class="form-beside form-item">
                    <div class="form-short">
                        <label for="first_name">Nome</label>
                        <div class="input">
                            <i class="fas fa-user"></i>
                            {{form.first_name}}
                        </div>
                    </div>
                    <div class="form-short p-20">
                        <label for="last_name">Sobrenome</label>
                        <div class="input">
                            <i class="fas fa-user"></i>
                            {{form.last_name}}
                        </div>
                    </div>
                </div>
                <div class="form-beside form-item">
                    <div class="password form-short">
                        <label for="password1">Senha</label>
                        <div class="input">
                            <i class="fas fa-unlock"></i>
                            {{form.password1}}
                        </div>
                        {% if form.password1.errors %}
                        {% for error in form.password1.errors %}
                        <span class="msg-error">{{ error }}</span>
                        {% endfor %}
                        {% else %}
                        <span class="msg">• Mínimo 8 caracteres!</span>
                        {% endif %}
                    </div>
                    <div class="password form-short p-20">
                        <label for="password2">Confirmar senha</label>
                        <div class="input">
                            <i class="fas fa-unlock"></i>
                            {{form.password2}}
                        </div>
                        <!-- {% if form.password2.errors %}
                        {% for error in form.password2.errors %}
                        <span class="msg-error">{{ error }}</span>
                        {% endfor %}
                        {% endif %} -->
                    </div>
                </div>

                <div class="form-link">
                    <span>Ja tenho conta.</span>
                    <a href="{% url 'login' %}">Fazer login!</a>
                </div>
                <div class="box-button">
                    <button type="submit">Cadastrar</button>
                </div>
            </form>
            <!-- <div class='msg'>
                {% for message in messages %}
                {{message}}
                {% endfor%}
            </div> -->

        </div>
    </div>
</section>

{% endblock %}