.msg {
    font-size: 10px;
    text-align: center;
    /* color: #1EC3B5; */
    /* color: #ff0000; */
    border-radius: 10px;
    margin-top: 15px;
}
.msg-error {
    font-size: 10px;
    text-align: center;
    /* color: #1EC3B5; */
    color: #ff0000;
    border-radius: 10px;
    margin-top: 15px;
}